<%= alt_store('CounterStore', {count: 0}) %>

<nav>
  <%= react_component('Stats') %>
</nav>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4>Text from <b>Rails</b> view</h4>
      <p>
        Dolor sit amet, consectetur adipisicing elit. Eveniet sit, natus maxime magnam voluptatum fugit fugiat ipsum officiis error totam amet. Numquam autem earum id, dolorem voluptate maxime, voluptatum aliquam dolores repudiandae at cumque illo mollitia nemo inventore aspernatur impedit molestiae assumenda officia vero, sed ex. Qui at, enim eligendi.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <%= react_component('Counter') %>
    </div>
  </div>
</div>
